[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
sklearn = "*"
matplotlib = "*"
pandas = "*"
"mecab-python3" = "*"
seaborn = "*"
jupyter = "*"
scikit-image = "*"
pillow = "*"
keras = "*"
tensorflow = "*"
jupyter-tensorboard = "*"
numba = "*"
cython = "*"
"h5py" = "*"
"pymc3" = "*"


[dev-packages]



[requires]

python_version = "3.6"
